<%= provide :title, "Help Center" %>
<html>
  <head>
    <title><%= yield(:title) %> Course Registration System </title>
  </head>
  <body>
    <div class="container">
      <nav>
      <h1>Contact</h1>
      <h2>
      Contact us at Chatwork : 
      <%= link_to "Mr. Hamizan |", "https://www.chatwork.com/" %>
      <%= link_to "Ms. Anis |", "https://www.chatwork.com/" %>
      <%= link_to "Ms Syahida |", "https://www.chatwork.com/" %>
      </h2>
      </nav>
    </div>
  </body>
</html>
