<h1>Sign Up</h1>
<h2>This is a sign up page for new students</h2>
  
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
        
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
        
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
        
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
        
     <h2> <%= f.submit "Create my account", class: "btn btn-primary" %> </h2>
    <% end %>
  </div>
</div>
